__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

venv/
.venv/
env/
ENV/


.env
.env.local
.env.secret

.vscode/
.vs/
*.swp
*.swo

*.log
.docker/

# --- SISTEMA ---
.DS_Store
Thumbs.db